
/* Color Variables (change for YSU hexes) */
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
}

.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fit, 400px);
    grid-template-areas:
        "main-nav main-nav main-nav main-nav"
        "slider-container slider-container slider-container slider-container"
        "canvas-prints canvas-prints canvas-prints canvas-prints"
        "footer footer footer footer"
}

/* Assign Grid Items to Places on the Grid! */
.main-nav {
    grid-area: main-nav;
}

.slider-container {
    grid-area: slider-container;
}

.canvases_and_prints {
    grid-area: canvas-prints;
    margin: 20px;
}

.footer {
    grid-area: footer;
}

/* Navigation */

.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(7, 1fr);
}

.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    font-size: .9rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: var(--dark);
    color: var(--light);
}

/* Slider-Container */

.slider-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
    'slider-container slider-container slider-container'
    'slider-container slider-container slider-container'
    'top-box-a top-box-b top-box-c';
}

/* Slider-Container */

.slider-container {
    grid-area: slider-container;
}

.top-box-a {
    grid-area: top-box-a;
}

.top-box-b {
    grid-area: top-box-b;
}

.top-box-c {
    grid-area: top-box-b;
}