
/* Color Variables (change for YSU hexes) */
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
}

.btn {
    background: var(--dark);
    color: var(--light);
    padding: .5rem;
    text-decoration: none;
    border: 0;
    width: 40%;
    justify-content: center;
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "main-nav"
        "slider-container"
        "canvas-prints"
        "footer"
}


.main-nav {
    grid-area: main-nav;
}

.canvases_and_prints {
    grid-area: canvas-prints;
    margin: 10px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20vh 10vh 15vh;
    grid-template-areas:
        "canvas-banner canvas-banner canvas-banner"
        "canvas-title-text canvas-title-text canvas-title-text"
        "canvas-prints-display canvas-prints-display canvas-prints-display"
}

.canvas_banner {
    grid-area: canvas-banner;
}

.canvas_title_text {
    grid-area: canvas-title-text;
}

.canvas_prints_display {
    grid-area: canvas-prints-display;
}

.footer {
    grid-area: footer;
}

/* Navigation */

.main-nav ul {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    list-style: none;
    grid-template-columns: repeat(7, 1fr);
}

.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    font-size: .9rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: var(--dark);
    color: var(--light);
}

/* Slider-Container */

.slider-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40vh 25vh;
    grid-template-areas: 
    "slider slider slider"
    "box-a box-b box-c"
}

/* Slider-Container Grid-Areas */

.slider {
    grid-area: slider;
    margin: auto;
    object-fit: cover;
    max-height: 100%;
}

.top-box-a {
    grid-area: box-a;
}

.top-box-b {
    grid-area: box-b;
}

.top-box-c {
    grid-area: box-c;
}


/* Boxes */

.top-box {
    display: grid;
    align-items: center;
    justify-items: center;
}