



/* Slider Section */

.slider {
    width: 90%;
    margin: auto;
    height: 20vh;
}

.slider img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}


/* Canvas & Prints Section */

.img_box {
    display: grid;
    grid-gap: 15px;
    padding: 1rem;
    grid-template-areas:
    "one two"
    "three four";
}

.img_box img {
    max-width: 100%;
    object-fit: contain;
    vertical-align: center;
}

.img_1 {
    grid-area: one;
}

.img_2 {
    grid-area: two;
}

.img_3 {
    grid-area: three;
}

.img_4 {
    grid-area: four;
}