
body {
    color: #2e2e2e;
}


/* Header and Navbar */
.logo {
    text-align: center;
    margin-bottom: 5px;
}

.navbar {
    justify-content: center;
}

.navbar p {
    text-align: center;
    margin-top: 3px;
}

li {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a {
    display: block;
    color: #2e2e2e;
    padding-top: 3px;
    text-decoration: none;
    text-align: center;
}

/* Main Div 1, Showcase */

.slider-container {
    width: 900px;
    height: 630px;
}

.image-container {
    border: 2px solid red;
    /* Need to note and adjust width to fit mobile first */
    width: 2700px; 
    height: 630px;
    margin: 20px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
}

.slider-image {
    float: left;
    margin: 0px;
    padding: 0px;
}
